.home-container {
    min-height: 80vh;
}

.home-container .warning{
    color: var(--warning) !important
}


.home-container .success{
    color: var(--success) !important
}


.home-container .danger{
    color: var(--danger) !important
}